.button-group button {
  background-color: #9fd3c7;
  border: none;
  color: #777;
  padding: 1.25rem 2.3rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  font-size: 2rem;
  border-radius: 0.5rem;
  width: 15rem;
  margin: 2rem 5rem;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
